.imgLogo {
    text-align: center;
    margin-top: 15px;
}

.card{
    padding: 20px;
    background: #0054a612;
    border-radius: 12px;
}

.button-menu{
    width: 180px;
}

.btn-lista{
    width: 100%;
}

.btn-pesquisa{
    margin-top: 23px;
}

.grafico{
    margin-top: 50px;
    margin-bottom: 50px;
}

.grafico-vazio{
    background: #0d6efd26;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 36px;
    margin-top: 29px;
    padding: 6px;
    color: #198754;
    border: 1px solid #198754;
}